.header {
    position: sticky;
    top: 0;
    z-index: var(--z-header);
    padding: 1.5em 0;
    border-bottom: 1px solid #fff;
    background-color: #f3d8f2;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 2em;
}

.header__nav-link {
    padding: 0.5em 1em;
    border-radius: 7px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #f5c8f4;
    }
}