.intro {
  padding: 50px 0 0;
}

.intro__container {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;

  //   @media (max-width: 767px) {
  //     flex-direction: column;
  //   }
}

.intro__title {
  margin-left: auto;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: right;
}

.intro__title-high {
  font-size: 4rem;
}
