.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-modal);
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #c3a9bf96;

    &--active {
        display: flex;
    }
}

.modal__wrapper {
    width: 90%;
    border-radius: 30px;
    background-color: #fff;

    @media (min-width: 992px) {
        width: 70%;
    }
    @media (min-width: 1200px) {
        min-width: 750px;
    }
}

.modal__header {
    position: relative;
    padding: 0.5em 0;
    border-bottom: 1px solid #f3d8f2;
}

.modal__title {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

.modal__btn-close {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 40px;
    height: 32px;

    border-radius: 10px 30px 10px 10px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

    cursor: pointer;
    transition: background 0.3s;
   

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 22px;
        height: 4px;
        background-color: #f14343;
        border-radius: 3px;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
    }

    &:active {
        background: #ffffff;
        box-shadow: inset 20px 20px 60px #d9d9d9,
            inset -20px -20px 60px #ffffff;
    }
}

.modal__body {
    padding: 30px 15px;

    @media (min-width: 576px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}

.modal__images {
    position: relative;
    padding-bottom: 30px !important;

    border-radius: 15px;
    background: #ffffff;
    box-shadow:  9px 9px 29px #d6d6d6,
                 -9px -9px 29px #ffffff;
    
    @media (min-width: 576px) {
        width: 60%;
        flex: 1 1 50%;
    }
}

.modal__info {
    flex: 1 1 40%;
}

.modal__row {
    margin-bottom: 0.5em;
}


// .modal__galery {
//     width: 100%;
// }
.modal__item-block {
    position: relative;
    height: 0;
    padding-top: 100%;
}
.modal__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.modal__galery-pagination {
    
}

.modal__price {
    font-size: 2rem;
    font-weight: bold;
}