doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Soap
        link(rel="stylesheet" href="./public/styles/main.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    body 

        include /layouts/header

        main 
            include /blocks/intro
            include /blocks/works
            include /blocks/write

        include /layouts/footer

        div.modals
            include /modals/cake-heart
            include /modals/cake-round
            include /modals/rainbow-flavor
            include /modals/duckling-in-shell
            include /modals/duckling-with-eggs
            include /modals/pib-with-gifts
            include /modals/jar-of-jam
            include /modals/forest-fairy-tale


        script(src="./public/scripts/index.min.js") 
