
div.modal.modal--cake-round
    .modal__wrapper
        .modal__header 
            h5.modal__title Зайка
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/bunny.png")
                   
                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__row Вес: 75гр
                .modal__row Высота: 1,5см
                .modal__row Длина: 7см
                .modal__row Ширина: 7см
                .modal__row Зайка выполнен с любовью
                .modal__price Цена: 300руб.