
div.modal.modal--cake-round
    .modal__wrapper
        .modal__header 
            h5.modal__title Пирожное круг
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/cake-round-1.webp" type="image/webp")
                                source(srcset="./public/assets/images/cake-round-1.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/cake-round-1.png")
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/cake-round-2.webp" type="image/webp")
                                source(srcset="./public/assets/images/cake-round-2.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/cake-round-2.png")
                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    //- .modal__row Вес: 75гр
                    //- .modal__row Высота: 1,5см
                    //- .modal__row Длина: 7см
                    //- .modal__row Ширина: 7см
                .modal__price Цена: 200 руб.