div.modal.modal--duckling-with-eggs
    .modal__wrapper
        .modal__header 
            h5.modal__title Утёнок с яичками
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-with-eggs-0.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-with-eggs-1.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-with-eggs-2.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-with-eggs-3.jpg")
                   
                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    .modal__row Вес: 115гр
                    .modal__row Высота: 7см
                    .modal__row Длина: 7см
                    .modal__row Ширина: 7см
                    p.modal__description 
                .modal__price Цена: 300 руб.