div.modal.modal--duckling-in-shell
    .modal__wrapper
        .modal__header 
            h5.modal__title Утёнок в скорлупке
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-in-shell-0.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-in-shell-1.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-in-shell-2.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-in-shell-3.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-in-shell-4.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/duckling-in-shell-5.jpg")
                   
                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    .modal__row Вес: 110гр
                    .modal__row Высота: 8см
                    .modal__row Длина: 7см
                    .modal__row Ширина: 7см
                    p.modal__description Привет мир
                .modal__price Цена: 200руб.