div.modal.modal--forest-fairy-tale
    .modal__wrapper
        .modal__header 
            h5.modal__title Лесная сказка
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/forest-fairy-tale-0.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/forest-fairy-tale-1.jpg")

                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    //- .modal__row Вес: 
                    //- p.modal__description

                .modal__price Цена: 150 руб.