div.modal.modal--jar-of-jam
    .modal__wrapper
        .modal__header 
            h5.modal__title Баночка с вареньем
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/jar-of-jam-0.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/jar-of-jam-1.jpg")
                   
                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    .modal__row Вес: 
                    .modal__row Высота: 
                    .modal__row Длина: 
                    .modal__row Ширина: 
                    p.modal__description
                .modal__price Цена: 300 руб.