div.modal.modal--jar-of-jam
    .modal__wrapper
        .modal__header 
            h5.modal__title Баночка с вареньем
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/jar-of-jam-0.webp" type="image/webp")
                                source(srcset="./public/assets/images/jar-of-jam-0.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/jar-of-jam-0.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/jar-of-jam-1.webp" type="image/webp")
                                source(srcset="./public/assets/images/jar-of-jam-1.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/jar-of-jam-1.jpg")

                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    //- .modal__row Вес: 
                    p.modal__description Баночка малинового варенья прятно удиваит своего обладателя

                .modal__price Цена: 400 руб.