div.modal.modal--pib-with-gifts
    .modal__wrapper
        .modal__header 
            h5.modal__title Праздник! Праздник!
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/pib-with-gifts-0.webp" type="image/webp")
                                source(srcset="./public/assets/images/pib-with-gifts-0.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/pib-with-gifts-0.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/pib-with-gifts-1.webp" type="image/webp")
                                source(srcset="./public/assets/images/pib-with-gifts-1.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/pib-with-gifts-1.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/pib-with-gifts-3.webp" type="image/webp")
                                source(srcset="./public/assets/images/pib-with-gifts-3.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/pib-with-gifts-3.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            picture    
                                source(srcset="./public/assets/images/pib-with-gifts-4.webp" type="image/webp")
                                source(srcset="./public/assets/images/pib-with-gifts-4.jpg" type="image/jpeg")
                                img.modal__item-img(src="./public/assets/images/pib-with-gifts-4.jpg")

                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    .modal__row Вес: 125 гр.
                    p.modal__description УРААААА!!! Подарки

                .modal__price Цена: 300 руб.