div.modal.modal--pib-with-gifts
    .modal__wrapper
        .modal__header 
            h5.modal__title Праздник! Праздник!
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/pib-with-gifts-1.jpg")
                   
                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    .modal__row Вес: 
                    .modal__row Высота: 
                    .modal__row Длина: 
                    .modal__row Ширина: 
                    p.modal__description УРААААА!!! Подарки
                .modal__price Цена: 300 руб.