
div.modal.modal--rainbow-flavor
    .modal__wrapper
        .modal__header 
            h5.modal__title "Радуга вкуса"
            button.modal__btn-close
        .modal__body
            .modal__images.swiper
                .modal__galery.swiper-wrapper
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/rainbow-flavor.jpg")
                    .modal__item.swiper-slide
                        .modal__item-block
                            img.modal__item-img(src="./public/assets/images/rainbow-flavor-1.jpg")
                   
                .modal__galery-pagination.swiper-pagination
            .modal__info
                .modal__feature
                    .modal__row Вес: 70гр
                    .modal__row Высота: 2см
                    .modal__row Длина: 8см
                    .modal__row Ширина: 5см
                    p.modal__description Мыло "радуга вкуса" подарит ощещение сразу нескольких разнообразных запахов. В основу мыла всегда добавлены масла, благоприятно влияющие на кожу. А так-же оно красивое и радует глаз
                .modal__price Цена: 100 руб.