section.intro
    .intro__container.container 
        h1.intro__title 
            span.intro__title-high  Мыло 
            br
            span ручной работы
        .intro__img-block 
            img.intro__img(src="./public/assets/images/bunny.png")