section#works.works 
    h2.works__title.title Мои работы
    ul.works__container.container 
        each work in worksList
            li.works__item
                div.works__item-block(id= work.id)
                    picture.works__item-picture
                        source(srcset= `${work.link}.webp` type="image/webp")
                        source(srcset= `${work.link}.jpg` type="image/jpeg")
                        img.works__item-img(src= `${work.link}.jpg`)


