section#write.write
    h2.write__title.title  Написать письмо
    form.write__form.container(action="mailto:test@test.ru" method="get")
        input(type="text" placeholder="Имя" name="subject").write__field.write__field--input
        input(type="text" placeholder="email" name="email").write__field.write__field--input
        textarea( placeholder="Введите сообщение" name="body").write__field.write__field--text
        .write__btns
            button(type="submit").write__btn.write__btn--primary Отправить