header.header 
    .header__container.container
        .header__logo
        nav.header__nav
            ul.header__nav-list
                li.header__nav-item
                    a.header__nav-link(href="#works") Мои работы
                li.header__nav-item
                    a.header__nav-link(href="#write") Написать письмо